body h1{
    text-align: center;
    font-size: 50px;
    margin: 0px;
}
.left {
    
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    width: 130px;
    
}

.left div {
    line-height: 20px;
    font-size: 25px;
    text-align: center;
}


.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
}

.btn {
    margin: 0px 8px;
    background-color: black;
    color: white;
    padding: 5px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(228, 60, 60);
}


h1 {
    font-size: 30px;
    color: goldenrod;
    text-align: center;
    padding: 100px 0 100px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 8px dashed goldenrod;
    padding: 15px;
}

.center{
    text-align: center;
    font-size: 22px;

}

.container {
    border: 2px solid white;
    margin: 75px 425px;
    padding: 40px;
    width: 30%;
    border-radius: 50px;
    left: 100px;
}

.form-group input {
    text-align: center;
    display: block;
    width: 308px;
    padding: 1px;
    border: 2px solid black;
    margin: 1px auto;
    font-size: 20px;
    border-radius: 8px;
}


.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}

.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.social-links a{
    border: 2px solid rgb(251, 251, 253);
    color: rgb(254, 254, 255);
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 4px;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: rgb(48, 224, 42);
    color: var(--exDark);
}